{% extends "modals/others/base.html" %}


<!--Modal ID -->
 {% block modal-id %}
 id="questionsModal"
 
 {% endblock modal-id %}

<!--Modal Title -->

{% block modal-title %}
<i class="fas fa-code"></i>&nbsp;&nbsp; About opportunities
{% endblock modal-title %}


<!--Modal Body -->

{% block modal-body %}
<h6 class="card p-2 border-dark">Number of available job openings</h6>
{% for vacancy in vacancies  %}
<div class="justify-content-between mt-3 mb-3">
    <div class="row">
        <!--first button-->
        <div class="col-xl-3 col-sm-6 col-6">
            <button class="btn btn-secondary btn-lg mb-3" style="width: 100%;">
                <i class="fab fa-react fa-3x"></i>
                <br><span style="font-size: 14px;">Frontend</span>
            </button>
            <span class="qty">{{vacancy.frontend}}</span>
        </div>
        <!--second button-->
        <div class="col-xl-3 col-sm-6 col-6">
            <button class="btn btn-secondary btn-lg mb-3" style="width: 100%;">
                <i class="fab fa-python fa-3x"></i>
                <br><span style="font-size: 14px;">Backend</span>
            </button>
            <span class="qty">{{vacancy.backend}}</span>
        </div>
        <!--third button-->
        <div class="col-xl-3 col-sm-6 col-6">
            <button class="btn btn-secondary btn-lg mb-3" style="width: 100%;">
                <i class="fab fa-node-js fa-3x"></i>
                <br><span style="font-size: 14px;">Fullstack</span>
            </button>
            <span class="qty">{{vacancy.fullstack}}</span>
        </div>
        <!--fourth button-->
        <div class="col-xl-3 col-sm-6 col-6">
            <button class="btn btn-secondary btn-lg mb-3" style="width: 100%;">
                <i class="fas fa-file-code fa-3x"></i>
                <br><span style="font-size: 14px;">Intern</span>
            </button>
            <span class="qty">{{vacancy.intern}}</span>
        </div>
    </div>
</div>
{% endfor %}
<hr>
 {% for countdown in countdowns %}
<div class="mt-4 mb-3">
<h6 class="card p-2 text-light bg-danger mb-4">Job Vacancies will close in: </h6>
   
    <span id="timer" class="text-center" style="font-size: 20px;">{{countdown.timer | date:"M d, Y H:i:s" }}</span>
</div>
 {% endfor %}
{% endblock modal-body %}



