{% extends "modals/closed/base.html" %}
<!-- Modal title -->

{% block modal-id %}
    id="closedAllTimer"
{% endblock modal-id %}

<!-- Modal title root -->
 {% block title-root   %}
<i class="text-danger fas fa-hourglass-end"></i>&nbsp;&nbsp; Time is over
{% endblock title-root  %}


<!--Job closed (root)-->

{% block closed-root %}
<span class="text-danger text-uppercase">timeout for registration</span>
<div class="mt-2" style="font-size: 12px;">All job vacancies have been closed.
    You can join our waiting list for future opportunities
    <a class="text-danger" href="{% url 'waiting' %}">
waiting list
    </a>
</div>
{% endblock closed-root %}


