<!-- Modal -->
<div class="modal fade" {% block modal-id %}{% endblock modal-id %} tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog {% block center %} {% endblock center %}"  {% block css-id %}{% endblock css-id %}>
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{% block modal-title %} {% endblock modal-title %}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
       {% block modal-body %} {% endblock modal-body %}
      </div>
      {% block footer %}
      <div class="modal-footer">
         {% block btn-action %} {% endblock btn-action %}
        <button type="button" class="btn btn-secondary btn-sm btn-modal" data-bs-dismiss="modal">Close</button>
      </div>
      {% endblock %}
    </div>
  </div>
</div>