{% extends "App/base.html" %}



<!--page title-->

 {% block title %}
    Login
{% endblock title %}

{% block navbar-content %}
<i class="text-warning fas fa-key"></i>&nbsp;&nbsp; Login
{% endblock navbar-content %}

<!---Sidebar Links-->
{% block sidebar-links %}
        <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
        <hr><br>

        <center>
            <i class="fas fa-key fa-7x" style="color:#e9e9e9;"></i>

        </center>
       
       
{% endblock sidebar-links %}


<!--Page content-->

{% block content %}
<br>
<div class="container mt-5" id="card-login">
<div class="card p-3" id="login-border">
    <span class="btn btn-outline-dark mt-3" style="cursor: default;">
<i class="fas fa-lock"></i>&nbsp;&nbsp;RESTRICTED ACCESS
    </span>
    <form method="POST" autocomplete="off" novalidate>
        {% csrf_token %}
        <div class="input-group mb-3 mt-5">
            <span class="btn input-group-text border-secondary bg-light">
                <i class="fas fa-user-alt"></i>
            </span>
            <input type="text"  class="form-control" placeholder="Username" name="username" id="username">
        </div>
        <div class="input-group mb-3">
            <span class="btn input-group-text border-secondary bg-light">
                <i class="fas fa-lock"></i>
            </span>
            <input type="password"  id="mypassword" class="form-control" placeholder="Password" name="password">
        </div>

            <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" style="float: right;" onclick="myfunction()">
            </div>
            <div class="d-grid gap-2">
                <input type="submit" value="Enter" class="btn btn-warning btn-sm mt-4 mb-3" id="btn-enter"> 
            </div>
    </form>
    <center class="mt-5 mb-5">
<i class="fas fa-chart-pie fa-7x" style="color: #e9e9e9;"></i>
    </center>
</div>

</div> <!--End of container-->

{% endblock content %}

