/*======================================
# START CONFIGURATION
====================================*/


html,body{
    height: 100%;
    margin: 0;
    max-width: 100%;
   
    
}
/*======================================
# FAQ ACCORDION SETTINGS
====================================*/

.accordion-button:not(.collapsed){
    color: #111;
    background-color: #fff3cd;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
    font-weight: bold !important;


}

.accordion-button:focus{
    box-shadow: 0 0 8px rgba(250,190,88,1);
}

.accordion-button:after{
    background-image: url("");

}


/*======================================
# Pulse effects & icon
====================================*/



.pulse{

width: 65px;
height: 65px;
border-radius: 50%;
position: fixed;
right: 30px;
bottom: 75px;
padding: 5px;
animation: animate 3s linear infinite;

}

@keyframes animate {
    0%{box-shadow: 0 0 0 0 rgba(218,165,32,.7), 0 0 0 0  rgba(218,165,32,.7);}
    40%{box-shadow: 0 0 0 30px rgba(255,109,74,0), 0 0 0 0  rgba(218,165,32,.7);}
    80%{box-shadow: 0 0 0 50px rgba(255,109,74,0), 0 0 0 30px  rgba(255,109,74,0);}
    100%{box-shadow: 0 0 0 0 rgba(255,109,74,0), 0 0 0 30px  rgba(255,109,74,0);}
                   }


#modal-message{
    position: absolute;
    bottom: 40px;
    right: 20px;
    width: 400px;
}

#input-timer{
    font-size: 25px;
}

/*======================================
# login
====================================*/

#card-login{
    width: 450px;
    }
    
#login-border{
    border-top: .4rem solid #ffc107;
    border-radius: 10px;
}

#btn-enter{
    border-radius: 16px;
}

/*======================================
# FOOTER
====================================*/

.wrapper{
    min-height: 100%;
    margin-bottom: -50px;
}

#footer,
.push{
    height: 50px;
}

/*======================================
# OTHER PARTS
====================================*/


#navbar-content{
    text-align: center;
    color: #fff;
    margin-left: 25px;
}

/*======================================
# BLOCK TYPED EFFECT AND BUTTON JOB
====================================*/
.block-position{
    width: 80%;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
/*======================================
# BTN JOB OPPORTUNITIES
====================================*/
#btn-job{

    width: 270px;
    font-size: 22px;
    border-radius: 30px;
    margin-bottom: -50px;
    
    }
/*======================================
# side labels-- left side of the inputs
====================================*/
.side-label{
    width: 50px;
}
#back{
    margin-right: 25px;
    font-size: 25px;
}
/*======================================
# BTN Cancel and send - button inside the modals
====================================*/

.btn-cancel, .btn-send, .btn-modal{
    width: 75px;
}
.watermark{
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}
/*======================================
# Preloader(spinner)
====================================*/
#preloader{
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #ffc107;
    position: absolute;
    top: 50%;
    left: calc(50% - 32px);
    width: 55px;
    height: 55px;
    z-index: 1;
    animation: preloader 1.2s;
    animation-fill-mode: forwards;

}

@keyframes preloader{
    to{
        transform: rotate(360deg);
        opacity: 0;
    }
}


/*======================================
# CUSTOM SWEETALERT
====================================*/
/* All text centered*/
.swal-text{
    text-align: center;
}

/* Icon settings */
.swal-icon--success::before,
.swal-icon--success::after,
.swal-icon--success__hide-corners{
    background:none !important;
}

.swal-icon--success{
    /* color of ring */
    border-color: orange;
}

.swal-icon--success__line{
    /* Animation */
    background-color: orange;
}

.swal-button{
    padding:7px 19px;
    border-radius: 5px;
    background-color: #111;
    font-size: 12px;
    border: 1px solid #111;

}

.swal-button:focus{
    /* Remove the silver border around the native button */
    box-shadow: none;
}

.swal-button:not([disabled]):hover{
    /* Hover effect */
    background: transparent;
    color:#111;
    border: 1px solid #111;
}

/*======================================
# BACKEND SPINNER AJAX
====================================*/



#bg-spinner{
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
    background-color: rgba(1, 1, 1, 0.7);
}

#position-spinner{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#spinner{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 6px #d3d3d3 solid;
    border-top: 6px #ffc107 solid;
    animation: loading 1s infinite linear;

}


@keyframes loading {
    to{
        transform:rotate(360deg);
    }
    
}



/*======================================
#  RESPONSIVE MODES
====================================*/
/* Resolution for Tablets */
@media screen and (max-width: 1024px) {
    #footer{
        font-size: 15px;
    }       
}

@media screen and (max-width:575px) {
    #footer{
        font-size: 12px;
    }

    body{
        overflow-y: visible !important;
    }

    #navbar-content{
        font-size: 16px;
        margin-left: 20px;
    }
    .typed-effect{
        font-size:24px;
    }
    #btn-job{
        font-size: 15px;
        width: 200px;
    }
    .jobs{
        font-size: 13px;

    }
    #card-title{
        font-size: 14px;
    }

    #back{
        font-size: 20px;
        margin-right: 20px;
    }
    #card-login{
        width: 95%;
        }
        
#modal-message{
    position: absolute;
    bottom: 55px;
    right: 12px;
    width: 90%;
}

.txt-sm{
    font-size: 12px;
}

.pulse{
    width: 45px;
    height: 45px;
    right: 15px;
    bottom: 62px;
    
}

#input-timer{

    font-size: 20px;
}

}
